# Node modules
node_modules/

# Build directories
*/public/build/

# Svelte files
*.svelte

# Virtual environment
venv/
/venv/

# Python cache
__pycache__/
*.py[cod]

.DS_Store
*/dist/
/logs/

backend/logs/
.vscode/