# Node modules
node_modules/

# Build directories
*/public/build/

# Python cache
__pycache__/
*.py[cod]

.DS_Store
*/dist/
/logs/

# Backend
/backend/logs/
/backend/streaming/
**/backend/.venv/
.vscode/