[Unit]
Description=Pad Station
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/padstation/run.py
WorkingDirectory=/home/padstation/
User=monashhpr
Group=yourgroup
Restart=always
RestartSec=10
# KillSignal=SIGINT
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target